@import "../../config/style.config";

#buettner-sven-react-plant-search-tool
{
  
  overflow: hidden;
  height: 100vh;
  position: relative;

  .App {
    height: 100%;
    overflow: hidden;
    margin: auto;
    container-type: inline-size;
  }

  .App-body {
    display: flex;
    height: 94%;
  }

  .sidebar-container {
    border-right: 1px solid $border-color;
    overflow: auto;
    transition: all 1s;
    width: 20%;
    padding: 1rem;
  }

  .list-container {
    overflow: auto;
    transition: all 1s;
    width: 80%;
    background-color: #e7e7e7;
  }

  @container (max-width: 1522px) {
    .sidebar-container {
      width: 23%;
    }
    .list-container {
      width: 77%;
    }
  }

  @container (max-width: 1200px) {
    .sidebar-container {
      width: 30%;
    }
    .list-container {
      width: 70%;
    }
  }

  @container (max-width: 1000px) {
    .sidebar-container {
      width: 0%;
      padding: 0;
    }
    .list-container {
      width: 100%;
    }
  }

}












