$prefix: "sbr-plant-assistent-";

////////////////////////////////////////////////////////////////////////////////
// FARBEN DEFINITON
////////////////////////////////////////////////////////////////////////////////
// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;
// $border-color:  $gray-300
$primary: orange;


////////////////////////////////////////////////////////////////////////////////
// HEADER CONFIG
////////////////////////////////////////////////////////////////////////////////
$header-color: $primary;

